<h2>forgot Password</h2>
<form action="/api/auth/forgot-password" method="POST">
    <input type="email" name="email" placeholder="Masukkan Email">
    <button type="submit">Cari email</button>
</form>